*{
    margin: 0px;
}
.mainback2{
    height: 79vh;
    width: 100vw;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genderback{
    background-color: rgb(242, 233, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    height: 60vh;
    box-shadow: 0px 0px 8px 1px rgb(138, 139, 169);
    width: 25vw;
    align-items: center;
}
.genderhead{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
}
.gendersearch{
    display: flex;
    gap: 10px;
}
.gendersearch input {
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid salmon;
}
.gendersearch button{
    width: 7vw;
    border: 1px solid salmon;
    border-radius: 5px;
    cursor: pointer;
    color: salmon;
    background-color: whitesmoke;
    box-shadow: 0px 2px 7px 1px salmon;

}
.gendersearch button:hover{
    color:royalblue ;
    box-shadow: 0px 2px 7px 1px royalblue;
    border: 1px solid royalblue;
}
.genderbox{
    height: 34vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 22vw;
    align-items:center ;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;    
    }
    #image{
        height: 8vh;
        width: 4vw;
    
        background-repeat: no-repeat;
        background-size: contain;
        
    }
    @media screen and (max-width: 800px) {
        .genderback {
            width: 40vw;
        }
        .gendersearch input {
            width: 25vw;
          
        }
        .gendersearch button{
            width: 9vw;
        }

        .genderbox{
            width: 35vw;
        }
    }
    
    @media screen and (max-width: 600px) {
        .genderback {
            width: 50vw;
        }
        .gendersearch input {
            width: 35vw;
          
        }
        .gendersearch button{
            width: 13vw;
        }

        .genderbox{
            width: 44vw;
        }
    }
    