*{
    margin: 0px ;
    padding: 0px;
}
.cont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 100vw;
    height: 79vh;
    background-color: rgb(40, 132, 146);
}

.contdata{
    height: 70vh;
}
.search{
    display: flex;
    gap :10px;
    margin-top: 20px;
    justify-content: center;

}
.search input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
}
input::placeholder{
    margin-left: 40px;

}


.search button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid royalblue;
    background-color: white;

}
.search button:hover{
    box-shadow: 0px 3px 8px 2px royalblue;
    cursor: pointer;
    padding: 2px;
    border: 1px solid royalblue;
}

.result{
    margin-top: 15px;
    border: 1px solid gainsboro;
    border-radius: 10px;

}
.sec1{
    background-color: rgb(184, 184, 86);
    padding: 20px;
    display: flex;
    gap: 20px;
    border-radius: 10px 10px 0px 0px ;
    width: 300px;
    height: 150px;
}
#condition{
    margin-left: 60px;

}
#temp{
    font-size: 50px;
    margin-left: 40px;
}
#city{
    margin-left: 40px;
    font-size: 15px;
}
.icon{
    height: 80px;
    width: 80px;
}
.data1 {
    margin-left: 30px;
    
}
.data1 p{
    margin: 5px;
}


.sec2{
    background-color: red;
    padding: 20px;
    background-color: white;
    border-radius: 0px 0px 10px 10px ;

}
.sec2 p{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.icon img{
    height:  100px;
    width: 100px;
}